<table>
  <tr>
  	<th colspan="6"><h1><%= Basilica %></h1></th>
  </tr>
  <tr>
  	<th>&nbsp;</th>
    <th>Item</th>
    <th>Quantity</th>
    <th>Package</th>
    <th>Cost</th>
    <th>&nbsp;</th>
  </tr>
<% @items.each do |item| %>
  <tr>
  	<td style="width:10%;"><%= image_tag(item.img_url, class: 'list_image') %></td>
    <td><%= item.name %></td>
    <td><%= item.quantity %></td>
    <td><%= item.package %></td>
    <td><%= item.value %></td>
    <td><%= button_to "Buy", { action: "update", :item_id => item.item_id, 
    	:meta => item.meta, :quantity => -1 * item.package, :method => :post} %></td>
  </tr>
<% end %>
</table>
